.text {margin-left: 10px;}
.content {font-size: 20px;}
.date {font-weight: bold;}
.ansbutton {margin-left: 80%; margin-top: -6%;}
.delete {margin-left: 89%; margin-top: -2%;}
.answer {background-color: #C9F2B1;}