.u-section-1 .u-sheet-1 {
  min-height: 2001px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 25px 72px 0;
}

.u-section-1 .u-list-1 {
  width: 1017px;
  margin: 37px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 1818px;
  grid-auto-columns: calc(50% - 17px);
  grid-template-columns: calc(50% - 17px) calc(50% - 17px);
  grid-gap: 34px 34px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 268px;
  margin-top: 30px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 11px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 0 11px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 0 11px;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 0 11px;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 0 11px;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 0 11px;
}

.u-section-1 .u-btn-8 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 0 11px;
}

.u-section-1 .u-btn-9 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 0 11px;
}

.u-section-1 .u-btn-10 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 268px;
  transition-duration: 1s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1680px;
    grid-template-columns: repeat(2, calc(50% - 17px));
  }

  .u-section-1 .u-text-2 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 248px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 248px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 248px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 248px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 248px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 248px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 248px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 248px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    height: 248px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 380px;
  }

  .u-section-1 .u-image-2 {
    height: 380px;
  }

  .u-section-1 .u-image-3 {
    height: 380px;
  }

  .u-section-1 .u-image-4 {
    height: 380px;
  }

  .u-section-1 .u-image-5 {
    height: 380px;
  }

  .u-section-1 .u-image-6 {
    height: 380px;
  }

  .u-section-1 .u-image-7 {
    height: 380px;
  }

  .u-section-1 .u-image-8 {
    height: 380px;
  }

  .u-section-1 .u-image-9 {
    height: 380px;
  }

  .u-section-1 .u-image-10 {
    height: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-1 {
    height: 285px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-2 {
    height: 278px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-3 {
    height: 278px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-4 {
    height: 278px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-5 {
    height: 278px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-6 {
    height: 278px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-7 {
    height: 278px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-8 {
    height: 278px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-9 {
    height: 278px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 160px;
  }

  .u-section-1 .u-image-10 {
    height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-1 {
    height: 179px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-2 {
    height: 171px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-3 {
    height: 171px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-4 {
    height: 171px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-5 {
    height: 171px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-6 {
    height: 171px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-7 {
    height: 171px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-8 {
    height: 171px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-9 {
    height: 171px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 98px;
  }

  .u-section-1 .u-image-10 {
    height: 171px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}