{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Казённый мост – одна из главных достопримечательностей Лебедяни.</span>
            </h1>
            <p style="text-align: center;">В 1910 году в Лебедяни (ныне Липецкой области) был построен новый мост через
                реку Дон, который и по своей конструкции, и по величине, и по смелости выполнения проекта стал «одним из
                интересных железобетонных мостов, построенных не только в Тамбовской губернии, но и вообще в России».
                Наиболее ценным и интересным в конструкции этого моста, по оценкам специалистов, стало то, что при
                помощи простой балочной конструкции удалось достичь величины отдельных пролетов в 25 метров.

                Впервые речь о строительстве нового моста через Дон зашла лет за 10 до его осуществления. 14 ноября 1900
                года гласные Лебедянского земства большинством приняли решение строить в Лебедяни каменный арочный мост
                в замен старого деревянного, пришедшего в негодность. Однако ни один из трех проектов моста не был
                утвержден. Стоимость работ, которая варьировалась от 110 до 200 тысяч рублей, оказалась земству не по
                карману.<br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/kazennyj_most_1.jpg" align="center" style="width: 891px;" class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                Первый престол в храмовой части собора был освящен в 1857 году именем Смоленской иконы Божией Матери.
                Второй предел, во имя святого пророка Илии, был устроен и освящен значительно позднее — в 1901 году.
                Предельные алтари в трапезной освящены во имя Богоявления Господня (правый) и святителя Николая
                Чудотворца (левый). Ново-Казанский собор был просто огромным, в нем свободно могли поместиться три –
                четыре тысячи человек. К архитектурным особенностям храма относится двусветный центральный барабан,
                создающий прекрасное освещение подкупольной части храма, а также украшение сводов летнего храма
                кессоном, что было более характерно для светского зодчества.
            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/kazennyj_most_2.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>К вопросу постройки нового моста вернулись в 1909 году. Тогда же был составлен проект, стоимостью 92500
                рублей. 4 марта 1910 года он был рассмотрен и утвержден губернским земским собранием, которое и выделило
                необходимые деньги на строительство. Это был железобетонный балочный мост с 6 пролетами по 20 и 25
                метров длиной. Ширина проезжей части составила 8 аршин (5,70 м), ширина тротуаров – 1,5 аршина (1,07 м)
                каждый. Вся конструкция опиралась на промежуточные опоры (быки) высотой 7,70 м, представлявшие собой
                армированные бетонные монолиты, оснащенные ледорезами.

                Лебедянский мост имеет еще одну малоизвестную особенность. Из-за неудобного расположения единственной
                городской переправы, стесненной старой мельничной плотиной с водоспуском под косым углом к руслу реки –
                с одной стороны, и впадением речки Городнянки – с другой, конструкторам моста пришлось расположить быки
                не параллельно друг другу, а под некоторыми небольшими углами, в соответствии с направлением течения в
                разных местах реки.

                Подрядчиком строительства выступила саратовская строительная фирма «Инженер И. Г. Грингоф и Братъ»,
                которая в первых числах мая 1910 года приступила к забивке свай, рытью котлованов и закладке
                фундаментов. Всего на постройку моста было затрачено 115 тысяч казенных денег (отсюда название –
                «Казенный»). Уже во второй половине декабря 1910 года провели испытания нового моста, после чего уездное
                земство приняло его в эксплуатацию.
                <br>
            </p>
            <p>
                <img src="../static/img/kazennyj_most_3.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>Для возмещения расходов на строительство моста городская Дума обязалась 10 лет выплачивать земству 75 %
                из предполагавшегося попудного сбора и по 500 рублей ежегодно во все последующие годы. Была введена
                плата за проезд через мост. Она составляла 2 копейки с порожней телеги или саней и 4 копейки – с воза с
                грузом или экипажа с пассажиром. От оплаты освобождались пешеходы, лица, едущие по казенной надобности,
                призывники, грузы для нужд земства или благотворительных целей, имущество воинских подразделений.

                В 1929 году во избежание быстрого износа сооружения были утверждены Правила пользования мостом,
                предписывающие передвижение «исключительно шагом», а проход тяжелых машин – по дощатым настилам и
                запрещающие обгоны и остановки на мосту.

                Осенью 1942 года в связи с возможным захватом города фашистами мост был заминирован и оказался по д
                угрозой уничтожения. Но врага остановили на подступах к Лебедяни.

                В 1999 году въезды на Казенный мост были оборудованы светофорами. Движение по нему стало
                односторонним.</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A399172175bccc7aea2fb3dc0bace532dfad609018a840878d85e4552f7da3e4d&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}