{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Уездное училище</span>
            </h1>
            <p style="text-align: center;">Новое светское учебное заведение – уездное училище – было основано в Лебедяни
                1 мая 1828 года и просуществовало девяносто лет, до 1918 года. К середине XIX века оно размещалось в
                собственном каменном двухэтажном доме на углу улиц Казанской и Первой Набережной (ныне ул. Почтовой и
                Ленина), купленном за 600 рублей серебром. Училище содержалось за счёт казны, и его штат состоял из семи
                служащих. Сверх обязательной программы обучения, в подобных учебных заведениях разрешалось преподавать
                алгебру и французский, немецкий и латинский языки с той целью, чтобы ученики по окончании курса наук
                могли поступить в третий или четвёртый класс гимназии. При училище имелась библиотека, состоявшая в
                середине XIX века из 1192 томов.


                <br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/county_school.jpg" align="center" style="width: 891px;"
                   class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                За период с 1828 по 1855 год в учебном заведении обучалось 368 детей. Из этого количества полный курс
                окончили 111 человек. Основную массу выпускников составили дети дворян – 44 человека – и обер-офицеров
                (дети офицеров, рождённые до получения их отцами чинов, дающих потомственное дворянство) – 32 человека.
                Но среди окончивших училище были и дети казённых крестьян – 9 человек, помещичьих крестьян – 2,
                вольноотпущенных – 6. До окончания курса выбыло 257 человек. Наибольшее количество среди них составляли
                дети купцов – 62 человека – и мещан – 71.

                В 1902 году уездное училище с двухлетним курсом обучения было преобразовано в трёхгодичное, а в 1908
                году – в четырёхгодичное.


            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/county_school_2.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>П. И. Пискарев – смотритель уездного училища в 1850-х годов.

                В начале 1850-х годов должность смотрителя уездного училища занял приехавший из Нижнего Новгорода в
                Лебедянь П. И. Пискарев. Будучи человеком образованным, имея за плечами два курса университета, Пётр
                Иванович преуспел не только в профессиональной деятельности на новом месте службы.


            </p>
            <p>
                <img src="../static/img/county_school_3.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>
                Обладая опытом литературной и научной работы, он в свободное время стал заниматься собиранием местных
                сказок, загадок, легенд. Особенно его увлекла работа с документами по истории края в местных архивах. Её
                результатом стали несколько исследовательских работ, опубликованных в губернской прессе, начиная с 1855
                года. Труды по истории края, написанные П. И. Пискаревым, положили начало лебедянскому краеведению.


            </p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab92a6a563c2113b4f28962291bf472d5a582d57bff2a55a51d6670d26bfcf565&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}