{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Дом Игумновых</span>
            </h1>
            <p style="text-align: center;">До середины XIX века большая усадьба, занимавшая четыре стандартных усадебных
                места, со своим садом, выходившим на соседнюю Кузьминскую улицу, а также дом с флигелями и надворными
                постройками принадлежал братьям Степану Ивановичу и Ивану Ивановичу Игумновым, построившим Новый
                Казанский собор в Лебедяни. После раздела семьи дом с флигелями остался за старшей ветвью Игумновых –
                наследниками Михаила Степановича, владельцами лесной дачи с винокуренным заводом в восточной части
                уезда. Одним из представителей этой семьи был директор городского общественного банка, потомственный
                почётный гражданин, купец 2 гильдии Александр Михайлович Игумнов (1835-1887). Банк, открытый в 1866 году
                при городской думе, пережил уже свой расцвет и к началу 1880-х годов, растратив весь свой капитал,
                оказался банкротом. Главным виновным в растрате было признано руководство банка и прежде всего первый
                директор банка А.М. Игумнов. В уплату долга (180 тыс. рублей) с молотка пошло имение и городские дома
                Игумнова.


                <br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/igumnov_house_1.jpg" align="center" style="width: 891px;"
                   class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                Но конец XIX века был периодом экономической стагнации для всей Лебедяни. Проводившиеся в городе ярмарки
                к тому времени стали лишь тенью былых, шумевших на всю Россию торжищ. Цены на недвижимость постепенно
                упали. Большие особняки некогда богатых купцов если и покупали, то лишь для того, чтобы снова
                перепродать. Известно, что в конце ХIХ века дом, о котором идёт речь, был куплен купцом Улановым и
                позднее перепродан им купцу 2 гильдии Николаю Николаевичу Иншакову.


            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/igumnov_house_2.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>В Лебедяни 1910-х годов Иншаковы стали одними из самых богатых и влиятельных купцов. Н.Н. Иншаков
                избирался гласным городской думы, его имущество оценивалось в сумму 7190 рублей. В делах отцу всё больше
                помогал его старший сын Владимир Николаевич. В 1913 году Иншаковы занимали второй этаж главного дома. На
                первом этаже жили служащие и находился большой продовольственный магазин. Флигели сдавались под
                квартиры. Во флигеле, что слева, с мезонином во дворе, в то время квартировал отставной подпоручик,
                земский начальник 3 участка коллежский советник Андрей Васильевич Аплаксин. Кроме жилых домов, в
                комплекс построек входили: кладовая, 2 навеса, 5 сараев, ледник, 2 амбара и конюшня.


            </p>
            <p>
                <img src="../static/img/igumnov_house_3.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>
                Уже в первые годы советской власти муниципализированное имущество перешло в собственность уездного
                исполнительного комитета, впоследствии переименованного в райисполком. В 1960-х годах здание занимал
                горисполком (лебедянское домоуправление), позднее уступивший место редакции районной газеты «Путь
                Октября» (ныне – «Лебедянские вести»). С 2014 года помещения первого этажа здания занимает
                некоммерческая организация «Лебедянский Фонд культуры». В апреле-июне 2017 года Лебедянский Фонд
                культуры, благодаря финансовой поддержке своих Попечителей – Е.А. Микрина и В.А. Двуреченских, выполнил
                реставрацию уличного фасада, вернув зданию первоначальный облик старинного особняка в классическом
                стиле.


            </p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1803235f6c081da3c837b526a47b65de750f1b7e1d2e53322abe68b48a6e408d&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}