{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Свято-Троицкий монастырь</span>
            </h1>
            <p style="text-align: center;">По сообщению Лебедянского исправника за 1869 год, докладывавшего о памятниках
                древности в уезде, Лебедянский Троицкий монастырь был расположен «в северном предместии города Лебедяни,
                за ярмарочной площадью. Основание сему монастырю положено в 1621 году. Из зданий, уцелевших от пожара,
                бывшего в 1764 году, в настоящее время существуют следующие: Успенская церковь каменная, выложенная
                полукружием на восток, об одной главе, утвержденной на глухом фонаре; в соединении с церковью каменная
                же колокольня в три яруса с пирамидальным верхом, слуховыми и пролётными окнами. Во втором ярусе этой
                колокольни есть помещение для существующей там прежде церковной библиотеки; снаружи здания ко второму
                ярусу ведёт кирпичная лестница. Основанная в 1642 году Троицкая соборная церковь каменная, пятиглавая, с
                тремя на восток полукружиями, отделёнными друг от друга полуколоннами.

                <br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/monastery_2.jpg" align="center" style="width: 891px;"
                   class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                Все здания, находящиеся внутри монастыря, обнесены в то же время каменной оградой из красного кирпича,
                весом от 18 до 20 фунтов. Ограда эта с парапетами, амбразурами имеет вид неправильного четыреугольника,
                девяти аршин высоты и трёх аршин толщины; на южной стороне устроены ворота». В истории лебедянской
                обители тесно переплетены реальные факты и легенды. Виной тому во многом сильный пожар 1764 года,
                уничтоживший всё сколько-нибудь значительное и, в том числе монастырский архив. Монастырь был упразднён.
                Его земли, леса, села и деревни перешли в ведение Коллегии экономии. Лишь через четыре года Священный
                Синод, по ходатайству епископа Воронежского святителя Тихона, поражённого явлением чудотворной иконы
                Пресвятой Троицы, включил упразднённый лебедянский монастырь в число заштатных монастырей на своём
                продовольствии без возвращения ему прежде принадлежавших имений. В 1874 году здесь снова была открыта
                архимандрия с переводом сюда бывшего ректора Тифлисской духовной семинарии архимандрита Валентина.
                Окончивший курс в Киевской Духовной Академии, со степенью кандидата в 1860 г., на следующий год он был
                пострижен в монашество, а в 1869 году получил сан архимандрита, был отмечен наперстным крестом.

            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/monastery_3.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>В 1876 году братия монастыря насчитывала 34 человека. В их числе был настоятель – архимандрит Валентин,
                казначей – иеромонах Тихон, духовник – иеромонах Августин, пять иеромонахов, игумен, четыре иеродиакона,
                восемь монахов, восемь рясофорных и пять указных. По свидетельству современника, «неутомимыми трудами и
                заботливостью своих настоятелей, монастырь этот обязан лучшим, сравнительно со многими другими
                заштатными монастырями, состоянием. Кроме трёх каменных церквей и ограды, в нём есть много других
                каменных зданий, и сверх того два фруктовых сада, дубовая роща, сенокосный луг, мельница, хутор, рыбный
                пруд, рыбная в озёрах ловля и т.п. Увеличению доходов монастырских много способствовали и ныне отчасти
                способствуют бывающие в городе три ярмарки: Крещенская, Троицкая и Покровская, которые заметить кстати,
                были в прежние времена весьма значительны, а теперь с каждым годом становятся всё слабее и слабее. Толпы
                народа с этих ярмарок, располагающихся вблизи монастыря, заходят сюда для служения молебнов, а купцы,
                торгующие на ярмарках железом, оставляют непроданное в монастырских кладовых с платою за то монастырю
                деньги. Сверх того, два крестных хода, оставленных в весьма недавнее время из городского Казанского
                собора в день сошествия Святого Духа и в день пророка Ильи ежегодно привлекали в монастырь много народа
                из города и окрестных сёл и деревень».

            </p>
            <p>
                <img src="../static/img/monastery_4.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>
                После 1917 года лебедянский монастырь начинает привлекать местные власти больше с материальной точки
                зрения. В июне 1923 года в монастырь приезжает инспекция. Осмотрев монастырский комплекс, специалист
                Петроградского института истории искусств Кожин, делает вывод о его большой ценности. А в июле
                Лебедянский монастырь как художественно-исторический памятник старины и народного быта принимается на
                учёт Отделом Музеев при Наркомпросе. С этого времени борьба за монастырь становится особенно острой. С
                одной стороны отдел атаковали коммунальные службы города, старавшиеся списать монастырские постройки на
                хозяйственные нужды и разобрать их на строительные материалы. На защиту монастыря выступил лебедянский
                музей во главе с заведующим А.Ф. Высоцким, отстаивавшим целостность монастырского комплекса как
                уникального памятника искусства и старины. Комиссии сменяют одна другую, идёт активная переписка между
                инстанциями, а сами монахи остаются сторонними наблюдателями и молчаливыми свидетелями происходящего. К
                тому времени, они уже перестают быть хозяевами своей обители. А в 1929 году Троицкий монастырь и вовсе
                закрывается, а на его территории размещается Лебедянское бюро совхозов, а затем зоотехникум
                (впоследствии преобразованный в сельскохозяйственный техникум). * В настоящее время обитель возрождается
                в статусе женского монастыря. Ведётся реставрация храмов, жилых и хозяйственных построек.
            </p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A75520abea8ebdbf90a0be1a82e193c5495c3004b6f7e23ebbc561dc842563d77&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}