{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Ново-Казанский собор с колокольней (1836-1851 годы) и комплексом Торговых рядов (1870-е годы) &nbsp;по периметру.&nbsp;</span>
            </h1>
            <p style="text-align: center;">Торжественная закладка нового собора состоялась&nbsp;30 августа&nbsp;1828
                года епископом Тамбовским и Шацким Афанасием. Собор возводился на средства прихожан при значительном
                участии лебедянских купцов Степана Ивановича (1774-1833) и Ивана Ивановича (1776-1855) Игумновых и в
                1835 году, то есть через семь лет после начала строительства, был вчерне окончен. Тогда же к западу от
                трапезной была заложена каменная, отдельно стоящая колокольня, строительство которой было завершено в
                1851 году. Её высота до верхнего карниза составила более 40 метров.<br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/novo_kazan_3.jpg" align="center" style="width: 891px;" class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                Первый престол в храмовой части собора был освящен в 1857 году именем Смоленской иконы Божией Матери.
                Второй предел, во имя святого пророка Илии, был устроен и освящен значительно позднее — в 1901 году.
                Предельные алтари в трапезной освящены во имя Богоявления Господня (правый) и святителя Николая
                Чудотворца (левый). Ново-Казанский собор был просто огромным, в нем свободно могли поместиться три –
                четыре тысячи человек. К архитектурным особенностям храма относится двусветный центральный барабан,
                создающий прекрасное освещение подкупольной части храма, а также украшение сводов летнего храма
                кессоном, что было более характерно для светского зодчества.
            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/novo_kazan_2.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>Непременный атрибут любого старого купеческого городка – <span
                    style="font-weight: 700;">Торговые ряды</span> в Лебедяни до сих пор остаются образцом
                функциональной и, в то же время, художественной архитектуры. Наряду с храмами, комплекс торговых лавок
                был одним из первых общественного значения.<br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <br>
            </p>
            <p>
                <img src="../static/img/novo_kazan_4.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>Идея построить новый комплекс лавок по периметру Торговой площади возникла с Лебедяни ещё в 30-х годах
                XIX столетия. Однако к реализации плана приступили лишь в 1870-х – уже после того, как в центре площади
                был возведён величественный Новый Казанский собор. Было построено четыре одинаковых кирпичных корпуса,
                состоящих из одинаковых по архитектуре модулей – ячеек торговых лавок. Торговые ряды служат городу
                поныне. С 2014 года комплекс реставрируется и постепенно обретает свой первозданный вид.</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac4fd2359153a3d8c88a0a962d9df1229ea0477d3894e44c9c1a97c3a3c7fb4c1&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}