{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Тяпкина гора</span>
            </h1>
            <p style="text-align: center;">С городом Лебедянь, что в Липецкой области, связано несколько легенд,
                преданий и просто интересных фактов. Например, есть легенда, что под городом много подземных ходов. Не
                знаю, правда это, или нет, но во всяком случае, старожилы Лебедяни рассказывали, что такие ходы
                действительно были. И даже говорили что, будучи мальчишками, они лазили по этим ходам. А позже их просто
                засыпали.<br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/tyapkina_mountain_2.jpg" align="center" style="width: 891px;"
                   class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                Еще одна интересная и легендарная историческая личность Лебедяни - разбойник Тяпка. Он прославился тем,
                что грабил тех, кто проезжал по этой местности, где в то время проходил торговый путь, и его никак не
                могли поймать.

                Есть в нашем городе одна возвышенность на берегу Дона. Считается, что основную массу своих злодеяний
                Тяпка совершал именно тут. Это место сейчас носит название - Тяпкина гора.
            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/tyapkina_mountain_3.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>Логово же разбойника находилась выше по течению небольшой речушки Городянки, что как раз под этой самой
                Тяпкиной горой впадает в Дон. Местность там - холмистая, а берег - довольно крутой. Там разбойники и
                прятались.

                Также есть предание, что те самые подземные ходы, о которых я писал выше, принадлежали Тяпке и его
                банде, и они могли свободно по ним перемещаться. Поэтому разбойников никто не мог поймать.</p>
            <p>
                <img src="../static/img/tyapkina_mountain_4.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>
                Еще есть легенда, что в одном из ходов Тяпка спрятал свое награбленное богатство, среди которого - много
                серебра, золота и драгоценностей. Многие местные энтузиасты пытались найти клад, но, увы,
                безрезультатно. Однако некоторым кладоискателям удавалось находить на территории города и его
                окрестностей медные и серебряные монеты.

                Ближе к концу своей жизни, разбойник Тяпка принял монашеский обет и поселился в монастыре. Где-то там, в
                святой обители Троицкого монастыря и находится его могила, которая, к сожалению, не сохранилась до наших
                дней.</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -10%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adb453c3321c7fcf7786f09b25dd883458c22907d59f3ad78ae04dc506e9d460c&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}