{% extends "base.html" %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-3ef7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1"
             style='font: 1.2em "Times New Roman", serif;'>
            <h1 style="text-align: center;">
                <span style="font-size: 2.25rem;">Дом-музей Е. И. Замятина</span>
            </h1>
            <p style="text-align: center;">8 октября 2009 г. в Лебедяни состоялось открытие Дома-музея Е. Замятина,
                приуроченное к 125-летию со дня рождения писателя.

                Домом Замятина фактически считается дом его деда по материнской линии – священника Александра Платонова.
                Евгений Иванович все свое детство провел среди родственников матери. Работы по восстановлению дома
                проводились в соответствии с первоисточниками – письмами Е. Замятина и его родственников.

                Обновился фасад дома-музея, появилась замощенная плиткой площадка, выставлен новый забор. В день
                открытия музея разбита фруктовая аллея.<br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
                <span style="line-height: 2.0;">
              <img src="../static/img/zamyatin_1.jpg" align="center" style="width: 891px;" class="fr-dib fr-fic"
                   width="570"><br
                        style="box-sizing: border-box; color: rgb(51, 102, 170); font-family: Lato, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(226, 226, 225); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
                        id="isPasted">
            </span>
                В доме-музее представлена тематическая экспозиция, посвященная жизни и творчеству писателя, его семье,
                предметы быта.

                Понимание творчества Е. И. Замятина без погружения в стихию его отчего края, Лебедяни, будет неполным.

                Лебедянь хранит память о выдающемся русском писателе. Многочисленные материалы и экспонаты Лебедянского
                краеведческого музея рассказывают о жизни Замятина. Здесь представлены фотографии и письма, пианино,
                стоявшее в доме Замятиных (от рояля, упоминаемого писателем в воспоминаниях о детстве, сохранилась лишь
                крышка).
            </p>
            <p style="text-align: center;">
            <span style="line-height: 2.0;">
              <img src="../static/img/zamyatin_2.jpg" width="570" align="center" style="width: 894px;"
                   class="fr-dib fr-fic">
            </span>
            </p>
            <p>
                <img src="../static/img/zamyatin_3.jpg" width="570" align="center" style="width: 888px;"
                     class="fr-dib fr-fic">
            </p>
            <p>Повторяющейся деталью романа "Мы" является статуэтка Будды. На полке музейного стеллажа - несколько
                статуэток. Первое упоминание города в документах зафиксировано в 1613 г., но статуэтки и ряд других
                экспонатов говорят о более раннем его происхождении.

                В музее воссоздается старая Лебедянь, присутствующая в творчестве Замятина, приведены сведения о людях,
                ставших прообразами героев произведений писателя.</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-6667" style="margin-top: -30%;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">
            <span style="font-size: 3.75rem; font-weight: 700;">Место на карте</span>
            <span style="font-size: 3.75rem;"></span>
        </h2>
        <div class="u-border-2 u-border-grey-dark-1 u-shape u-shape-rectangle u-shape-1">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aacd6087634b0f3030943952659a131cf412c8d80b37800bfa141f7531576a353&amp;width=796&amp;height=496&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div style="left: 42%; margin-top: -2%; margin-bottom: 2%;">
        <a href="/">
            <button type="button" class="btn btn-warning">Вернуться на главную</button>
        </a>
    </div>

</section>
{% endblock %}