<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="../static/img/lebed.png">
    <title>Вопрос - Ответ</title>
</head>
<body class="container">
<h1 style="text-align: center;">Добавление ответа</h1>
<a href="/all_questions" class="btn btn-secondary">Назад</a>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p style="font-size: 35px;"> Тема: {{ question }}.</p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p><a href='all_questions'>{{ form.submit(type="submit", class="btn btn-primary") }}</a></p>
    {{message}}
</form>
</body>
</html>