{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/questions.css" media="screen">
</head>
<body class="container">
<h1 style="text-align: center;">Записи на форуме</h1>
<!--------------------------------------------->
{% if current_user.is_authenticated and not current_user.admin%}
    <a href="add_question" class="btn btn-secondary">Добавить вопрос</a>
{% endif %}
{% for item in questions%}
<br>
<div class="col-md6 border rounded border-danger border-2">
    <br>
    <h2 class="text">{{item.id}}. {{item.theme}}</h2>
    <div class="text content">
        {{item.content}}
    </div>
    <div class="text date">
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.admin%}
        <a href="delete_question/{{item.id}}" class="btn btn-danger delete">Удалить</a>
        {% if item.id not in question_id%}
            <a href="answer/{{item.id}}" class="btn btn-success ansbutton">Ответить</a>
        {% endif %}
    {% endif %}
    {% if item.id in question_id%}
    <div class="answer col-md6 border rounded border-danger border-2 text">
        {% for i in answers%}
            {% if item.id == i.question_id%}
                <p class="text date">ADMIN</p>
            <p> - {{i.content}}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}
<br>
</body>
{% endblock %}