<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="../static/img/lebed.png">
    <style>
        .text {margin-left: 10px;}
        .content {font-size: 20px;}
        .date {font-weight: bold;}
        .ansbutton {margin-left: 80%; margin-top: -6%;}
        .delete {margin-left: 89%; margin-top: 0%;}
        .answer {background-color: #C9F2B1;}
    </style>
    <title>Вопрос - Ответ</title>
</head>
<body class="container">
<h1>Записи на форуме</h1>
<a href="/" class="btn btn-primary">Вернуться на главную</a>
<!--------------------------------------------->
{% if current_user.is_authenticated and not current_user.admin%}
    <a href="add_question" class="btn btn-secondary">Добавить вопрос</a>
{% endif %}
{% for item in questions%}
<br>
<div class="col-md6 border rounded border-danger border-2">
    <br>
    <h2 class="text">{{item.id}}. {{item.theme}}</h2>
    <div class="text content">
        {{item.content}}
    </div>
    <div class="text date">
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.admin%}
        <a href="delete_question/{{item.id}}" class="btn btn-danger delete">Удалить</a>
        {% if item.id not in question_id%}
            <a href="answer" class="btn btn-success ansbutton">Ответить</a>
        {% endif %}
    {% endif %}
    {% if item.id in question_id%}
    <div class="answer col-md6 border rounded border-danger border-2 text">
        {% for i in answers%}
            {% if item.id == i.id%}
                <p class="text date">ADMIN</p>
            <p> - {{i.content}}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}
</body>
</html>